

.containerMain{
    height: 100vh;
    width: 100%;
    z-index: 9999999999999999999999999999999999;
    background-color: white;
    .containerEditor{
        height: 100%;
        margin: auto;
        z-index: 9999999999999999999999999999999999;
        background-color: white;

    }
}